.navbar{
    background-color: #56D6FF;

}
.btn{
    background-color: blue;
    border-radius: 20px;
}
.btn:hover{
    background-color: coral;
    color: cornsilk;
}
body{
    margin-left: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
.card1{
    position: relative;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: 0px,0px,3px,4px;
}
.image{
    margin-top: 0px;
    text-align: center;
}
.card-body{
    margin-top: 0px;
}
.img {
    padding-top: .4rem;
    font-size: 2rem;
    transition-duration: .9s;
}
img:hover {
    transition-duration: .4s;
    transform: rotate(360deg);
    font-size: 2.5rem;
    cursor: pointer;
    margin-bottom: 12px;
}
.label{
    background-color: rgb(205, 252, 244);
    width: 30vh;
    text-align: center;
    border-radius: 20px;
    
}
.card-emploi{
    display: inline-block;
    display: block;
    width: 30vh;
    text-align: center;
    border: 1px solid black;
    height: 15vh;
    margin-top: -9px;
}

.width-td{
    text-align: center;
    width: 30vh;
    border: 1px solid black;

}
.marg{
    margin-left: 30vh;
    margin-top: -73.7vh;
    width: 128vh;
}
.td-jour{
    height: 15vh;
    width: 30vh;
    text-align: center;
    border: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;

}
.div-hour{
    margin-top: -9px;
}
.tr{
   margin-left: 10px;

}
.ds{
    background-color: #56D6FF;
}
.ds:hover{
    background-color: aquamarine;
    text-shadow: black;
    font-size: 20px;
}
.text{
     text-align: center;
}